* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --default: #eed2cc;
  --green: rgb(163, 211, 179);
  --purple: rgb(203, 180, 215);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
}

img {
  width: 100%;
}

h1 {
  color: black;
  font-family: "Petit Formal Script", cursive, sans-serif;
  font-size: 2.75em;
  text-align: center;
  padding: 0.75em;
  cursor: pointer;
}

h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 2em;
}

p {
  font-family: "Klee One", cursive, sans-serif;
  text-align: center;
  font-size: 1.1em;
}

label,
fieldset {
  font-family: "Klee One", cursive, sans-serif;
}

/* HEADER section */

header {
  background-color: var(--default);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  padding: 0 0.5em 0.5em 0.5em;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: "Klee One", cursive, sans-serif;
  cursor: pointer;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

/* MAIN section */

.container {
  width: 90%;
  margin: 0 auto;
}

/* hero section */

.hero-section {
  padding: 20px;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hero-section img {
  width: 100%;
  max-height: 500px;
  min-height: 300px;
  object-fit: cover;
  flex-shrink: 1;
}

.hero-text h2 {
  font-size: 3em;
  margin-bottom: 0 auto;
  color: #000000;
}

.hero-text p {
  width: 80%;
  font-size: 1.4rem;
  margin: 0 auto;
  text-align: center;
  font-family: "Klee One", cursive, sans-serif;
  padding-top: 0.8em;
}

/* bio section */

#bio {
  width: 95%;
  margin: 0px auto;
  text-align: center;
}

#bio p {
  padding: 0.5em 0.6em;
}

.welcome {
  font-weight: 600;
}

.choose-theme form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.choose-theme2 form {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.choose-theme2 input,
label {
  padding: 0.5em;
  font-weight: none;
}

/* spotlight section */

.spotlight {
  padding: 1em;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: 1px solid black;
  max-width: 1100px;
}

.spotlight img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: 50% 50%;
  max-width: 1000px;
}

.spotlight-text {
  width: 95%;
}

.spotlight h2 {
  font-size: 2em;
}

.spotlight-text h3 {
  font-size: 1.5em;
  margin-bottom: 12px;
  color: #000000;
  text-align: center;
  font-family: "Klee One", cursive, sans-serif;
  font-weight: bold;
}

.spotlight-text p {
  margin: 0 auto 12px auto;
  text-align: center;
  font-family: "Klee One", cursive, sans-serif;
  line-height: 1.2;
  max-width: 1000px;
  padding-bottom: 1em;
}
.spotlight a {
  text-decoration: none;
  color: #000000;
  border: 1px solid black;
  padding: 0.5em;
  margin-top: 1em;
}

/* links section */

.links-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 20px;
}

.link-card {
  border: 1px solid black;
  min-width: 200px;
  max-width: 350px;
  margin: auto;
  padding: 5px;
  position: relative;
  text-align: center;
}

.link-card a {
  text-decoration: none;
  color: #000000;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  padding: 1rem;
  border: 1px solid black;
}

.link-card img {
  max-width: 350px;
}

/* Contact Form */

.contactForm {
  padding-top: 1em;
  padding-bottom: 2em;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.contactForm fieldset {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 50%;
  font-weight: bold;
}

.contactForm p {
  padding: 10px;
  font-weight: 100;
}

.contactForm input,
label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactForm input,
textarea {
  margin: 0.3em;
  font-family: monospace, "Klee One", cursive, sans-serif;
}

.contactForm button {
  min-width: 25%;
  margin: 0 auto 0.8em auto;
}

button {
  background-color: var(--default);
  font-family: "Klee One", cursive, sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 0.5em 0.85em 0.75em 0.85em;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px 1px #636363;
  cursor: pointer;
}

.btnAnimate:hover {
  box-shadow: 0px 0px 10px 1px #9b9999;
  transition: 5ms;
}

.btnAnimate:active {
  transform: translateY(4px);
}

/* FOOTER section */

footer {
  background-color: var(--default);
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

/* ABOUT page */

.about {
  width: 80%;
  margin: 1em auto;
  border: 1px solid black;
  padding: 1em;
}

.about h2 {
  padding-bottom: 0.5em;
}

.about h3 {
  font-size: 1.2em;
  padding-top: 0.5em;
}

.about p {
  padding-top: 0.6em;
}

/* Classes */

.default {
  background-color: var(--default);
}

.green {
  background-color: rgb(163, 211, 179);
}

.purple {
  background-color: rgb(203, 180, 215);
}

@media (min-width: 1244px) {
  .hero-section {
    flex-direction: row-reverse;
  }

  .about {
    width: 70%;
  }

  .about img {
    max-height: 700px;
    object-fit: cover;
  }

  .about h2 {
    font-size: 2.5em;
  }
}

@media (max-width: 350px) {
  .hero-text h2 {
    font-size: 2.4em;
  }

  .hero-text p {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}

@media (max-width: 660px) {
  .choose-theme2 form {
    justify-content: center;
  }
}
