* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #EED2CC ;
}

img {
    width: 100%;
}

h1 {
    color: black;
}

header {
    background-color: var(--background-color);
    width: 100%;
}

footer {
    background-color: var(--background-color);
    width: 100%;
    min-height: 100px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.hero-section {
    max-height: 600px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /* border: 1px solid black; */
}

.hero-section img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.hero-text {
    width: 80%;
  }
  
  .hero-text h2 {
    font-size: 3.3rem;
    margin-bottom: 12px;
    color: #000000;
  }
  
  .hero-text p {
    font-size: 1.4rem;
    margin-bottom: 12px;
  }

#bio {
    width: 95%;
    margin: 20px auto;
    min-height: 200px;
        
}

#bio p {
    padding: 20px;
}

.choose-theme form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotlight {
    width: 95%;
}

.links-section {
    display:flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
    
}

.link-card {
    border: 1px solid black;
    min-width: 200px;
    max-width: 350px;
    margin: auto;
    padding: 5px;
    flex-shrink: 0;
    position: relative;
    text-align: center;
          
}

.link-card a {
    text-decoration: none;
    color:#000000;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    padding: 1rem;

}

.link-card img{
    max-width: 350px;

}


/* Generator page */
 
#songGenerator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


#songGenerator img {
    max-width: 500px;
    padding: 1rem;
}

#songGenerator h2 {
    font-size: 2.5em;
    margin: .5em auto;
    text-align: center;
}

#songGenerator h3 {
    font-size: 2em;
    margin: .5em auto;
    text-align: center;
}

#songGenerator p {
    font-size: 1.2em;
    text-align: center;
}

.randomButton {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

#songForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addSong {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 1rem 3rem; 
    border: 1px solid black; 
    margin: 1em auto;
    text-align: center;
}

.addSong input, label, select {
    margin-bottom: .75em;
}

hr {
    width: 50%;
    margin: 0 auto;
}

.default {
    background-color: var(--background-color);
}

.green {
background-color:rgb(137, 197, 137);
}

.purple {
    background-color: rgb(178, 144, 178);
}

@media (max-width: 884px) {
    .hero-section {
      margin-top: 10px;
      flex-direction: column-reverse;
    }
    .hero-text {
      width: 100%;
      text-align: center;
    }
    .hero-text h1 {
      font-size: 2.5rem;
    }
  }

   
  @media (max-width: 678px) {
    .hero-text h1 {
      font-size: 2rem;
    }

    hr {
        width: 100%;
    }
  }